@media (max-width: 835px) {
  .song-card {
    width: 32vw;
    min-width: 251px;
    min-height: 313.75px;
    height: 40vw;
    padding: 5px;
  }
}
@media (min-width: 836px) {
  .song-card {
    width: 24vw;
    height: 31.25vw;
    padding: 6.4px;
  }
}
@media (min-width: 1036px) {
  .song-card {
    width: 19.8vw;
    height: 23.75vw;
    padding: 6.4px;
  }
}
@media (min-width: 1236px) {
  .song-card {
    width: 16.4vw;
    height: 20.8vw;
    padding: 6.4px;
  }
}
@media (min-width: 1416px) {
  .song-card {
    width: 14vw;
    height: 17.5vw;
    padding: 6.4px;
  }
}
@media (min-width: 1596px) {
  .song-card {
    width: 12.3vw;
    height: 15.625vw;
    padding: 6.4px;
  }
}
@media (min-width: 1776px) {
  .song-card {
    width: 10vw;
    height: 13.8vw;
    padding: 6.4px;
  }
}
